@import url("https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&display=swap");

/*-------------------------Colours */

body {
  background-color: #fffef2;
}

/*-------------------------Text-Alterations */

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

/*-------------------------Riddle */

/*-------------------------Riddle Explanation Panel */

.explanation-panel {
  font-size: 240%;
  position: absolute;
  background-color: #000000b5;
  width: 75%;
  border-radius: 25px;
  text-align: center;
  margin: 5% 13%;

  color: #c7c776;
  border: solid #c7c776;
  border-width: 5px;
  padding: 15px;
}

#explanation {
  margin: 0;
}

#explanation-buttons {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
}

#start-button {
  font-size: x-large;
  color: #c7c776;
  border: solid #c7c776;
  border-width: 5px;
  background-color: #000000b5;
}

#back-button {
  font-size: x-large;
  color: #c7c776;
  border: solid #c7c776;
  border-width: 5px;
  background-color: #000000b5;
}

/*-------------------------Einstein Picture */

.einstein {
  width: 45%;
  border: double;
  height: 55vh;
}

/*-------------------------Clues - Controls */

.clues-controls {
  width: 50%;
  height: 55vh;
  float: right;
  border: double;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e8e7db;
}

/*-------------Clues */

.clues {
  height: 82%;
  overflow: auto;
  border: double;
  margin-top: 20px;
  background-color: #fffef2;
}

#clue-list {
  margin: 0;
  margin-top: 10px;
}

#riddle-question {
  font-size: 125%;
  margin: 20px 0;
  margin-left: 23px;
}

/*-------------Controls */

.controls {
  border: double;
  margin-top: 10px;
  background-color: #fffef2;
}

.user-controls {
  height: 3vh;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-evenly;
}

/*-------------------------Riddle Table */

.riddle-table {
  font-family: sans-serif;
  border: double;
  padding: 10px;
  width: 100%;
  height: 42.2vh;
  margin-top: 5px;
  background-color: #e8e7db;
}

.riddle-headers {
  font-weight: 900;
  font-size: 130%;
}

.answers {
  border: double;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  width: 90%;
  font-weight: 800;
}

/*-------------------------Riddle Answer Changes*/

/* House Transformations */

.house-transform {
  animation-name: house-transform;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes house-transform {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(3) rotate(720deg);
  }
}

/*------------- Nationality Flags */

.norwegian {
  background-image: url(/assets/images/flags/norwegian.jpeg);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

.dane {
  background-image: url(/assets/images/flags/dane.png);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

.brit {
  background-image: url(/assets/images/flags/brit.webp);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

.german {
  background-image: url(/assets/images/flags/german.jpg);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

.swede {
  background-image: url(/assets/images/flags/swede.png);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

/*------------- House Colours */

.yellow-house {
  color: #caca27;
}

.blue-house {
  color: blue;
}

.red-house {
  color: red;
}

.green-house {
  color: green;
}

.white-house {
  color: #d6c5c5;
}

.yellow-input {
  border-color: #caca27;
  color: #caca27;
  background-color: black !important;
}

.blue-input {
  border-color: blue;
  color: blue;
}

.red-input {
  border-color: red;
  color: red;
}

.green-input {
  border-color: green;
  color: green;
}

.white-input {
  border-color: #d6c5c5;
  color: #d6c5c5;
  background-color: black !important;
}

/*------------- Smoking */

.smoking-answer {
  background-image: url(/assets/images/smoking.gif);
  background-position: right;
  border-color: white;
  color: #c3bdbd;
}

/*------------- Drinks */

.water {
  background-image: url(/assets/images/drinks/water.jpeg);
  background-size: contain;
  border-color: black;
  color: rgba(0, 0, 0, 0);
}

.tea {
  background-image: url(/assets/images/drinks/tea.jpeg);
  background-size: contain;
  border-color: black;
  color: rgba(0, 0, 0, 0);
}

.milk {
  background-image: url(/assets/images/drinks/milk.jpeg);
  background-size: contain;
  border-color: white;
  color: rgba(0, 0, 0, 0);
}

.coffee {
  background-image: url(/assets/images/drinks/coffee.jpg);
  background-size: contain;
  border-color: black;
  color: rgba(0, 0, 0, 0);
}

.beer {
  background-image: url(/assets/images/drinks/beer.jpeg);
  background-size: contain;
  border-color: black;
  color: rgba(0, 0, 0, 0);
}

/*-------------------------Winning Game Changes*/

#fish-victory {
  width: 45vw;
  margin-top: 25vh;
  display: none;
  position: absolute;
}